<div class="space-y-[5px]">
  <% content_for :page_header do %>
    <div class="flex flex-wrap items-center justify-between gap-3">
      <h2 class="inline-flex items-center gap-2 text-2xl font-semibold">
        <%= tabler_icon("template", classes: "h-6 w-6 text-indigo-600") %>
        <span>Planning Templates</span>
      </h2>
      <%= link_to budget_months_path, class: "fb-btn-secondary ta-action-btn" do %>
        <%= tabler_icon("arrow-left", classes: "ta-action-icon text-slate-600") %>
        <span>Back to Months</span>
      <% end %>
    </div>
  <% end %>

  <%= render "pay_schedules/section",
             budget_month: nil,
             return_to: planning_templates_path(anchor: "pay-schedules"),
             pay_schedules: @pay_schedules,
             pay_schedule: @pay_schedule %>
  <br>
  <%= render "subscriptions/section",
             budget_month: nil,
             return_to: planning_templates_path(anchor: "subscriptions"),
             subscriptions: @subscriptions,
             subscription: @subscription %>
  <br>
  <%= render "monthly_bills/section",
             budget_month: nil,
             return_to: planning_templates_path(anchor: "monthly-bills"),
             monthly_bills: @monthly_bills,
             monthly_bill: @monthly_bill %>
  <br>
  <%= render "payment_plans/section",
             budget_month: nil,
             return_to: planning_templates_path(anchor: "payment-plans"),
             payment_plans: @payment_plans,
             payment_plan: @payment_plan %>
  <br>
  <%= render "credit_cards/section",
             budget_month: nil,
             return_to: planning_templates_path(anchor: "credit-cards"),
             credit_cards: @credit_cards,
             credit_card: @credit_card %>
</div>
