<% content_for :title, @account.name %>
<% breadcrumb "Accounts", accounts_path %>
<% breadcrumb @account.name %>

<% content_for :head do %>
  <%= chart_library_tags %>
<% end %>

<% page_header title: @account.name,
  eyebrow: @account.kind.humanize,
  subtitle: @account.institution_name.presence || "Manual account",
  icon: "building-library" do %>
    <%= link_to new_account_account_activity_import_path(@account), class: "fb-btn-primary ta-action-btn" do %>
      <%= tabler_icon("upload", classes: "ta-action-icon text-indigo-100") %>
      <span>Import Institution CSV</span>
    <% end %>
<% end %>

<%= render "accounts/account_navigation", account: @account, active_view: @account_view, range: @selected_range %>

<%= render "accounts/#{@account_view}", account: @account %>
